body {
    margin: 0;
    padding: 50px;
    background-color: #E0E0E0;
}

section {
    background-color: #FFF;
    border: 1px solid #000;
    padding: 20px;
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: #FF0;
}